<div class="jumbo-container">
	<div class="jumbotron">
		<center><h2 class="display-3">Saul Beniquez</h2>
		<p class="lead">Lorem Ipsum</p>
		<hr class="my-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin quam quis leo commodo, ornare pretium risus semper. Suspendisse pharetra cursus aliquet. Suspendisse feugiat porta nisi, nec malesuada ligula imperdiet eu. Vestibulum sed quam in mauris mollis pulvinar ac quis mauris. Praesent ultrices nisl a ultrices varius. Praesent tincidunt congue interdum. Aenean luctus ornare blandit. Nunc ac eros felis. Suspendisse tellus mi, tristique sit amet est nec, pretium sodales quam. Duis nec velit blandit, imperdiet diam id, pulvinar ligula. Nam euismod, elit nec varius tincidunt, odio mauris congue magna, ac pretium arcu ligula at erat. Curabitur ut tempor risus.</p>
		</center>
	</div>
</div>